.App {
	background-color: #f3f2f1;
}

.App-header {
  	margin: 0 auto;
  	font-size: calc(4px + 2vmin);
	color: black;
	align-items: stretch;
	/* box-shadow: 0 0 7px 1px #141414;
	margin-bottom: 2rem; */
}

.SearchBox {
	background-color: rgb(230, 213, 119);
	padding: 10px;  
}

.Title {
	float: left;
	margin-right: 1vw;
}

.tree {
	text-align: center;
	z-index: 0;
}

.course-node {
	margin: 0.5rem;
	width: 150px;
	display: inline-block;
	z-index: 0;
}

.course-node-title {
	padding: 0.4rem;
	font-weight: bold;
	text-align: center;
}

.course-node-body {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.course-org-chart {
	margin: 0 auto;
}

.details-main-container {
	padding: 10px;
}

.details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 5px 10px;
}

.details-title {
	text-align: center;
	width: 65%;
}

.details-body {
	text-align: center;
	margin: 0px;
}

.details-column {
	padding: 1rem 2rem 1rem 1rem;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.details-column dd {
	text-align: right;
}

.expand-children {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

/* overwriting bootstrap styles */
.main-78 {
	width: 65%;
}

.ms-Modal-scrollableContent {
	overflow: hidden;
}
