.App {
	height: 100vh;
}

.App-header {
	/* background-color: white;	   */
	margin: 0 auto;
	font-size: calc(4px + 2vmin);
	color: black;
	align-items: stretch;
	/* box-shadow: 0 0 7px 1px #141414;
	margin-bottom: 2rem; */
}

.SearchBox {
	background-color: rgb(149, 191, 222);
	padding: 10px;
}

.Title {
	float: left;
	font-weight: bold;
	font-style: italic;
	font-size: 1.3rem;
	margin-right: 1vw;
}

.tree {
	text-align: center;
	z-index: 0;
	height: calc(100% - 52px);
}

.ScheduleRow {
	vertical-align: bottom;
	height: 50px;
}

.CourseLabel {
	display: inline-block;
	z-index: 0;
}

.schedule-details-column {
	padding-right: 0px;
	padding-left: 0px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.schedule-course-node-title {
	padding: 0.4rem;
	font-weight: bold;
	text-align: left;
	padding-left: 0.5rem;
	margin-left: 15px;
}

.course-node {
	margin: 0.5rem;
	width: 150px;
	display: inline-block;
	z-index: 0;
}

.course-node-title {
	padding: 0.4rem;
	font-weight: bold;
	text-align: left;
	padding-left: 0.5rem;
}

.course-node-name {
	float: left;
}

.course-node-flag {
	margin-top: 0.1em;
	text-align: right;
	margin-right: 0.2rem;
	color: black;
}

.course-node-body {
	font-size: 0.9rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.course-org-chart {
	height: 100%;
	overflow: auto;
	margin: 0 auto;
	background-color: transparent;
	border: 0;
}

.details-main-container {
	padding: 10px;
}

.details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 1rem 0rem 1rem 0rem;
}

.details-title {
	text-align: center;
	width: 65%;
}

.details-body {
	text-align: center;
	margin: 0px;
}

.details-column {
	padding: 1rem 2rem 1rem 1rem;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.details-column dd {
	text-align: right;
}

.expand-children {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.schedule-button {
	transform: rotate(-90deg);
	position: fixed;
	top: 40%;
	right: 0;
	z-index: 1;
	left: calc(100% - 65px);
	box-shadow: -2px -2px 4px lightgrey;
}

.hidden {
	visibility: hidden;
}

.toggle-button {
	float: left;
	margin-right: 15px;
}

.filters-button {
	transform: rotate(-90deg);
	position: fixed;
	top: 60%;
	right: 0;
	z-index: 1;
	left: calc(100% - 55px);
	box-shadow: -2px -2px 4px lightgrey;
}

/* overwriting bootstrap styles */
.ms-Dialog-main {
	width: 65%;
}

.ms-Modal-scrollableContent {
	overflow: hidden;
}

.ms-Panel-main {
	width: 60%;
}

.filters-header {
	margin-left: 1rem;
	font-weight: bold;
	font-size: 3rem;
}

.filters-subtitle {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1.1rem 1rem 1rem 1rem;
}

.filters-subtext {
	font-style: italic;
	margin: 1rem 1.5rem 1rem 1.5rem;
}

.filter-option {
	margin-left: 1.5rem;
}

.flag-sub-head {
	margin-left: 1.5rem;
}

.flag-label {
	margin-left: 1rem;
}

.flag-winter {
	margin-left: 0.2rem;
	font-weight: bold;
	color: #4884fe;
}

.flag-fall {
	margin-left: 0.2rem;
	font-weight: bold;
	color: #de4605;
}

.flag-spring {
	margin-left: 0.2rem;
	font-weight: bold;
	color: #58810b;
}

.bold-option {
	margin-left: 0.2rem;
	font-weight: bold;
}
