.App {
	background-color: white;
}

.App-header {
	background-color: white;
	width: 75%;
	margin: 0 auto;
	display: flex;
	font-size: calc(10px + 2vmin);
	color: black;
}

.Title {
	flex-grow: 8;
}

.SearchBar {
	flex-grow: 2;
}

.tree {
	text-align: center;
}

.course-node {
	margin: 0.5rem;
	width: 150px;
	display: inline-block;
}

.course-node-title {
	padding: 0.4rem;
	font-weight: bold;
	text-align: center;
}

.course-node-body {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.course-org-chart {
	margin: 0 auto;
	/* margin-left: 10%;
  margin-top: 5% */
}

.details-main-container {
	padding: 10px;
}

.details-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 5px 10px;
}

.details-title {
	text-align: center;
	width: 65%;
}

.details-body {
	text-align: center;
	margin: 0px;
}

.details-column {
	padding: 1rem 2rem 1rem 1rem;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.details-column dd {
	text-align: right;
}

.expand-children {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

/* overwriting bootstrap styles */
.main-78 {
	width: 65%;
}

.ms-Modal-scrollableContent {
	overflow: hidden;
}
